@model Order
@using MyStore.Web.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");
    if (products == null)
    {
        products = new List<Products>();
    }
}

<br />
<h2 class="text-info">Order Details</h2>
<form method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        @* <div asp-validation-summary="ModelOnly" class="text-danger">

        </div> *@
        <div class="col-6">
            <div class="mb-3 row">
                <label asp-for="Name" class="p-0"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3 row">
                <label asp-for="Phone" class="p-0"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="mb-3 row">
                <label asp-for="Address" class="p-0"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="mb-3 row">
                <label asp-for="Email" class="p-0"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3 row">
                <label asp-for="OrderDate" class="p-0"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>

            <div class="mb-3 row">
                <label asp-for="CardNumber" class="p-0"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>

            <div class="mb-3 row">
                <label asp-for="CCV" class="p-0"></label>
                <input asp-for="CCV" class="form-control" />
                <span asp-validation-for="CCV" class="text-danger"></span>
            </div>

            <div class="mb-3 row">
                <label asp-for="ExpiredDateYear" class="p-0"></label>
                <input asp-for="ExpiredDateYear" class="form-control" />
                <span asp-validation-for="ExpiredDateYear" class="text-danger"></span>
            </div>

            <div class="mb-3 row">
                <label asp-for="ExpiredDateMonth" class="p-0"></label>
                <input asp-for="ExpiredDateMonth" class="form-control" />
                <span asp-validation-for="ExpiredDateMonth" class="text-danger"></span>
            </div>
        </div>

        <div class="col-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in products)
                    {
                        <tr>
                            <td>
                                <img src="~/@item.Image" height="100px" width="150px" />
                            </td>
                            <td>@item.Name</td>
                            <td>@item.Price</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="text-right">
                <h3>Total Price : @products.Sum(c => c.Price)</h3>
            </div>
            <div class="form-group">
                <input type="submit" value="Place Order" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>
